/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Estilos para el encabezado de la página */
  h1 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
  }
  
  /* Estilos para el formulario */
  form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  
  /* Estilos para la etiqueta del campo de texto */
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  /* Estilos para el campo de texto */
  input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  /* Estilos para el botón */
  button[type="button"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="button"]:hover {
    background-color: #2980b9;
  }
  
  /* Estilos para el resultado */
  #resultado {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  