/* Estilos para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(51, 124, 153);
  padding: 20px;
}

.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background: rgb(162, 245, 237);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  
  input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkgoldenrod;
  }
  
  #resultado {
    margin-top: 20px;
    font-size: 20px;
  }
  